.authentication {
  width: 90%;
  max-width: 25rem;
  margin: 7rem auto;
  text-align: left;
}

.auth-form {
  padding: 1rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e5e5e5;
}
.auth-form a {
  color: #4c79a3;
  cursor: pointer;
  margin-left: 10px;
}

h5 {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #545454;
  line-height: 0.1em;
  margin: 30px 0 30px;
}

h5 span {
  color: #545454;
  background: #fff;
  padding: 0 10px;
}
